@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
/* General Link Styles */
body{
    font-family: "Montserrat";
    font-weight: 400;
    background-color: white;
}
a {
    color: white;
}

a:focus {
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

/* Header Styles */
header .row {
    background-color: #8336b6;
}

.navbar-toggler-icon {
    background-image: url("../img/menu.png");
}

#barra {
    background-color: #8336b6;
    height: auto;
}

#barra a {
    color: white;
}

#barra a:hover {
    color: #C133C1;
}

#logo {
    width: 110px;
    height: 50px;
    background: url("../img/logo.png");
    font-size: 0;
    position: absolute;
    top: 8px;
    left: 20px;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    position: relative;
}
  /* Banner Styles */
#banner {
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 595px;
}

#banner h2 {
    width: 100%;
    color: white;
    font-family: "Montserrat";
    font-weight: 700;
    padding-top: 5%;
    padding-left: 5%;
}

#banner p {
    color: white;
    font-family: "Montserrat";
    font-weight: 300;
    width: 35%;
    padding-left: 5%;
    padding-top: 1%;
}

#botones {
    width: 100%;
    padding-left: 5%;
    padding-top: 3%;
}

/* Main Styles */
main {
    padding-top: 10%;
}

#nosotros {
    position: relative;
}

#nosotros h3 {
    font-family: "Montserrat";
    font-weight: 700;
    width: 100%;
    text-align: center;
}

.izquierda {
    padding: 0 5%;
    width: 100%;
    text-align: center;
}

.derecha {
    padding: 0 5%;
    width: 100%;
    text-align: center;
}

#nosotros p {
    line-height: 32px;
    text-align: left;
}

#nosotros img {
    margin-bottom: 4%;
    margin-top: 15%;
}

.color {
    font-family: "Montserrat";
    font-weight: 700;
    color: #8300AA;
}

#nosotros ol li {
    list-style: none;
    line-height: 32px;
    padding: 2% 0;
    text-align: left;
}

.numerito {
    font-family: "Montserrat";
    font-weight: 700;
    color: #8300AA;
    font-size: 25pt;
}

/* Parallax Section Styles */
#contpara {
    background: transparent;
}

#parallax {
    background-image: url("../img/parallax.jpg");
    min-height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
}

.cart-icon {
    font-size: 18px;
    margin-top: 1rem;
    cursor: pointer;
    text-align: left;
}


button.navbar-toggler{
    color: antiquewhite;
    background-color: aliceblue;
}

a.nav-link{
    font-size: 0.9rem;
    color: white;
    text-shadow: 10px 10px 20px rgb(9, 10, 9);
}

section.baner.container-fluid{
    padding-top: 4.2rem;
    --bs-gutter-x: -1.5rem;
}



.modal-body {
    background-color: rgba(171, 97, 198, 1);
}


/* Juegos Section Styles */
.titulo-producto{
    text-align: center;
    margin: 0 auto;
    padding-top: 5%;
    font-size: 2em;
    font-family: "Montserrat";
    font-weight: 700;
    }
    
    .productos{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
    }
    
    .card-game {
        min-width: 250px;
        margin: 15px;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
        background-color: #f2f2f2;
        padding-top: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.20), 0 10px 10px rgba(0, 0, 0, 0.20);
    }
    
    .card-game:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.24);
        transform: translateY(-3px);
    }
    
    .card-game img{
        width: 200px;
        height: 200px;
        text-align: center;
        margin: 0 auto;
        display: block;
        border-radius: 16px;
    }
    
    .ul-game {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }
    
    .list-game{
        padding-left: 4px;
    }
    
    .fas {
        font-size: 24px;
    }
    
    .checked {
        color: gold;
    }
    
    .button-game {
        text-align: center;
        width: 100%;
        border: none;
        background-color:#C133C1;
        color: #fff;
        padding: 10px;
        cursor: pointer;
        font-size: 24px;
        margin-top: 10px;
        outline: none;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

#reseñas {
    color: #ffffff;
    padding: 60px 20px;
    text-align: center;
}

#reseñas h3 {
    font-size: 2em;
    margin-bottom: 40px;
    font-family: "Montserrat";
    font-weight: 700;
    color: #111;
}

.reseñas-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.reseña {
    background-color: #292b2f;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reseña:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
}

.reseña img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #0B7077;
}

.reseña h4 {
    font-size: 1.2em;
    color: #f8f8f8;
    margin: 10px 0;
}

.ul-game {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 10px;
}

.ul-game .list-game {
    color: #ffce00;
}

.reseña p {
    font-size: 0.95em;
    line-height: 1.4;
    color: #b0b0b0;
}

h5.card-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Descarga Section Styles */
#descarga {
    background-image: url("../img/fondito.jpg");
    text-align: center;
    color: white;
    padding: 15% 0;
}

#descarga .row {
    margin: 0;
}

#descarga h3 {
    font-size: 30pt;
    font-family: "Montserrat";
}

#descarga p {
    font-size: 18pt;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3%;
}

#descarga button {
    padding: 10px 30px;
    border-style: none;
    background: linear-gradient(to right, rgba(171, 97, 198, 1) 0%, rgba(171, 97, 198, 1) 36%, rgba(47, 0, 148, 1) 69%, rgba(47, 0, 148, 1) 100%);
    color: white;
}

#descarga button:hover {
    background: #C133C1;
    transition: 0.5s;
}

/* Comunidad Section Styles */
#comunidad {
    padding-top: 10%;
    padding-bottom: 10%;
}

#comunidad p {
    padding-top: 20%;
    padding-bottom: 20%;
}

#comunidad button {
    padding: 7px 25px;
    border-style: none;
    background: linear-gradient(to right, rgba(171, 97, 198, 1) 0%, rgba(171, 97, 198, 1) 36%, rgba(47, 0, 148, 1) 69%, rgba(47, 0, 148, 1) 100%);
    color: white;
}

#comunidad button:hover {
    background: #C133C1;
    transition: 0.5s;
}

#contacto {
    width: 100%;
    max-width: 100%;
    padding: 3rem 1rem;  /* Add padding on smaller screens */
    background-color: #111;
    color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
}

#contacto h3 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 1.5rem;
    font-family: "Montserrat";
    font-weight: 700;
}

#contacto form {
    max-width: 600px; /* Center form content */
    margin: auto;
    padding: 1rem;
}

#contacto label {
    font-weight: 300;
    display: block;
    margin-bottom: 5px;
}

#contacto input,
#contacto textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    background-color: #222;
    color: #f1f1f1;
    border: 2px solid #C133C1;
    border-radius: 5px;
    font-size: 1rem;
}

#contacto input:focus,
#contacto textarea:focus {
    outline: none;
    border-color: #f1f1f1;
}

.button-form {
    background-color: #C133C1;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s;
    width: 100%;
    text-align: center;
}

.button-form:hover {
    background-color: rgba(47, 0, 148, 1);
}



/* Footer Styles */
footer {
    background: linear-gradient(to right, rgba(171, 97, 198, 1) 0%, rgba(171, 97, 198, 1) 36%, rgba(47, 0, 148, 1) 69%, rgba(47, 0, 148, 1) 100%);
    padding-top: 5%;
    text-align: center;
}

footer #Redes {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer .IconosRedes {
    margin-left: 20px;
}

footer span {
    display: none;
}

footer #Instagram {
    background-image: url(../img/Instagram.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 0 !important;
}

footer #Facebook {
    background-image: url(../img/Facebook.png);
    background-repeat: no-repeat;
    background-size: contain;
}

footer #Youtube {
    background-image: url(../img/Youtube.png);
    background-repeat: no-repeat;
    background-size: contain;
}

footer #Mail {
    background-image: url(../img/Mail.png);
    background-repeat: no-repeat;
    background-size: contain;
}

footer .NavPag {
    width: 18%;
    height: auto;
}

footer #NavPagLogo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 110px;
    height: 100px;
    margin: 0 auto;
}

footer ul li {
    display: inline;
    padding: 20px 0;
}

footer a {
    padding: 20px 24px;
}

#textito p {
    color: white;
    font-size: 25pt;
    font-family: "Montserrat";
    font-weight: 700;
}

#derechos {
    background-color: black;
    color: white;
    padding-top: 3%;
    padding-bottom: 1%;
}

@media screen and (min-width:576px){
    a.btn.btn-warning {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

}

@media screen and (min-width:768px){
    .header__h1{
        font-size: 1.8rem;
    }
    img.mt-1{
        margin-top: 1.25rem!important;
    }
    .navbar-expand-md {
        padding-top: 1.5rem;
    }
    a.nav-link{
        font-size: 1.2rem;
     
    }
    section.baner.container-fluid{
        padding-top: 6rem;
        --bs-gutter-x: -1.5rem;
    }
    .footer__h2{
        margin-top: 2rem;
        margin-bottom: 1rem;

    }
}

/* Media Queries */
@media screen and (max-width: 992px) {
    .cart-icon {
        font-size: 25px;
         cursor: pointer;
         margin-top: 1.5rem;
     }
    
    #banner {
        height: 350px;
    }

    #botones {
        padding-top: 0;
    }

    #botones img {
        width: 125px;
        padding: 1% 0;
    }

    #comunidad p {
        padding-top: 10%;
        padding-bottom: 10%;
    }
}

@media screen and (max-width: 800px) {
    #logo {
        left: calc(50% - 56px);
        background: url("../img/logo.png");
        background-repeat: no-repeat;
        background-position: center;
        outline: none;
    }

    .navbar-toggler:focus {
        outline: none;
    }

    #botones img {
        width: 100px;
        padding: 0;
    }

    button.menu {
        width: auto !important;
    }
}

@media screen and (max-width: 850px) {
    #banner p {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #contacto {
        padding: 1.5rem;
    }

    #contacto input,
    #contacto textarea {
        font-size: 0.9rem;
    }

    .button-gamer {
        font-size: 1rem;
    }
}

@media screen and (max-width: 680px) {
    #banner {
        height: 242px;
    }

    #banner p {
        width: 70%;
    }
}

@media screen and (max-width: 640px) {
    #banner {
        height: 208px;
    }

    #banner p {
        font-size: 10pt;
    }
}

@media screen and (max-width: 590px) {
    #banner {
        background-image: url(../img/banner590px.jpg);
        background-size: contain;
        height: 450px;
    }

    #banner p {
        padding-top: 10%;
    }

    #botones {
        padding-top: 20%;
    }
}

@media screen and (max-width: 576px) {
    #banner {
        height: 408px;
    }

    #parallax img {
        display: none;
    }

    #descarga h3 {
        font-size: 25pt;
    }

    #descarga p {
        font-size: 15pt;
    }
}

@media screen and (max-width: 470px) {
    #botones {
        padding-top: 5%;
    }
}
